In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_excel("../data/GroupN_Annotations.xlsx")
df

,Name,Hair_J,Hair_M,Hair_N,Hair_K,Pen_J,Pen_M,Pen_N,Pen_K
0,PAT_1051_220_356.png,0,0,0,0,1,1,1,1
1,PAT_1066_281_698.png,1,1,1,1,1,1,1,1
2,PAT_108_161_423.png,2,2,1,1,0,0,0,0
3,PAT_1105_420_520.png,0,0,0,0,0,0,0,0
4,PAT_118_180_386.png,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
112,PAT_926_1758_714.png,2,2,2,2,0,0,0,0
113,PAT_942_1792_411.png,1,2,1,1,0,0,0,0
114,PAT_978_1844_599.png,0,0,0,0,0,0,0,0
115,PAT_994_1866_730.png,0,0,0,0,0,0,0,0
116,PAT_995_1867_165.png,0,0,0,0,0,0,0,0

In [ ]:
def observed_agreement(df, annotator1, annotator2):
    '''This function takes a dataframe, and two column names,
    and returns the observed agreement between all annotators'''
    return 100 *sum(df[annotator1] == df[annotator2])/df.shape[0] 
print(observed_agreement(df, 'Hair_J', 'Hair_M'))
print(observed_agreement(df, 'Hair_J', 'Hair_N'))
print(observed_agreement(df, 'Hair_J', 'Hair_K'))
print(observed_agreement(df, 'Hair_M', 'Hair_N'))
print(observed_agreement(df, 'Hair_M', 'Hair_K'))
print(observed_agreement(df, 'Hair_N', 'Hair_K'))

85.47008547008546
86.32478632478633
86.32478632478633
80.34188034188034
80.34188034188034
84.61538461538461